<html>
  <head>

    <style>

    </style>

  </head>

<body>
  <h1><center>$latest.extraTemp1</center></h1>
  <h1><center>$latest.extraTemp2</center></h1>
<p>
<center> <img src="extraTempDay.png"/> </center>
</body>

</html>
