<html>
  <head>

    <style>

    </style>

  </head>

<body>
  <h1><center>$latest.extraTemp8</center></h1>
  <h1><center>$latest.extraTemp7</center></h1>
  <h1><center>$latest.co2</center></h1>
  <h1><center>$latest.pm2_5</center></h1>
  <h1><center>$latest.pm10_0</center></h1>
<p>
<center> <img src="extraTempDay.png"/> </center>
<center> <img src="co2Day.png"/> </center>
<center> <img src="pmDay.png"/> </center>
</body>

</html>
