<html>
  <head>

    <style>

    </style>

  </head>

<body>
  <h1><center>$current.dateTime</center></h1>
  <h1><center>$obs.label.extraTemp8: $current.extraTemp8</center></h1>
  <h1><center>$obs.label.extraTemp7: $latest.extraTemp7</center></h1>
  <h1><center>$obs.label.co2: $latest.co2</center></h1>
  <h1><center>$obs.label.pm2_5: $latest.pm2_5</center></h1>
  <h1><center>$obs.label.pm10_0: $latest.pm10_0</center></h1>
  <h1><center>$obs.label.outTemp: $latest(data_binding='wx_binding').outTemp</center></h1>
<p>
<center> <img src="extraTempDay.png"/> </center>
<center> <img src="co2Day.png"/> </center>
<center> <img src="pmDay.png"/> </center>
<center> <img src="outTempDay.png"/> </center>
</body>

</html>
