
#errorCatcher Echo
#encoding UTF-8
<!DOCTYPE html>
Develop

 week.pm2_5.series(aggregate_interval='day', aggregate_type='min')
$week.pm2_5.series(aggregate_interval='day', aggregate_type='min')

 week.pm2_5_nowcast.series(aggregate_interval='day', aggregate_type='min')
$week.pm2_5_nowcast.series(aggregate_interval='day', aggregate_type='min')


The End