
#errorCatcher Echo
#encoding UTF-8
<!DOCTYPE html>
Develop
#*
$day.lightning_strike_count.sum

$day.lightning_min_distance.min
$day.lightning_min_det_time.min

$day.lightning_last_distance.last
$day.lightning_last_det_time.last
*#
$alltime.lightning_min_distance.min
$alltime.lightning_min_det_time.min

The End