<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link href="favicon.ico" rel="icon" type="image/x-icon" />
	<title>Essex Vermont Weather | Last Year </title>
	<script language="javascript" src="scripts/common.js"></script>
	<link type="text/css" href="styles/main.css" rel="stylesheet" />
</head>

<body>
<div id="wrap">
	<div id="header"><img src="images/headerx.jpg"/></div>
		<div id="underlinemenu"><center>	
		<ul>
			<li><a href="index.html">Current Conditions</a></li>
			<li><a href="week.html">Week</a></li>
			<li><a href="month.html">Month</a></li>
			<li><a class="active" href="year.html">Year</a></li>
			
		</ul>
		</center>
	</div>
	<div id="main">
		<p></p>
	
		
			<table cellspacing="1" cellpadding="0" width="100%" align="left" border="0">
<tbody>
  <tr height="20" class="header">
    <th colspan=2> Yearly Highs/Lows</th>
	</tr>
       <tr height="20">
          <td width="50%">
            
            <strong>High Temperature:</strong>
            
          </td>
          <td width="50%" align="left">
            
		$year.outTemp.max at $year.outTemp.maxtime
            
          </td>
        </tr>
        <tr height="20">
          <td width="50%">
            
            <strong>Low Temperature:</strong>
            
          </td>
          <td width="50%" align="left">
            
           $year.outTemp.min at $year.outTemp.mintime
            
          </td>
        </tr>
        <tr height="20">
          <td width="50%">
            
            <strong>High Humidity:</strong>
            
          </td>
          <td width="50%" align="left">
            
            $year.outHumidity.max at $year.outHumidity.maxtime
            
          </td>
        </tr>
        <tr height="20">
          <td width="50%">
            
            <strong>Low Humidity:</strong>
            
          </td>
          <td width="50%" align="left">
            
            $year.outHumidity.min at $year.outHumidity.mintime
            
          </td>
        </tr>
        <tr height="20">
          <td width="50%">
            
            <strong>High Dewpoint:</strong>
            
          </td>
          <td width="50%" align="left">
            
           $year.dewpoint.max at $year.dewpoint.maxtime
            
          </td>
        </tr>
        <tr height="20">
          <td width="50%">
            
            <strong>Low Dewpoint:</strong>
            
          </td>
          <td width="50%" align="left">
            
           $year.dewpoint.min at $year.dewpoint.mintime
		   
          </td>
        </tr>
        <tr height="20">
          <td width="50%">
            
            <strong>High Wind Speed:</strong>
            
          </td>
          <td width="50%" align="left">
            
           $year.wind.max at $year.wind.maxtime
            
          </td>
        </tr>
        <tr height="20">
          <td width="50%">
            
            <strong>High Barometer:</strong>
            
          </td>
          <td width="50%" align="left">
            
           $year.barometer.max at $year.barometer.maxtime
            
          </td>
        </tr>
        <tr height="20">
          <td width="50%">
            
            <strong>Low Barometer:</strong>
            
          </td>
          <td width="50%" align="left">
            
             $year.barometer.min at $year.barometer.mintime
            
          </td>
        </tr>
        <tr height="20">
          <td width="50%">
            
            <strong>Rain Total:</strong>
            
          </td>
          <td width="50%" align="left">
            
          $year.rain.sum
            
          </td>
        </tr>
        <tr height="20">
          <td width="50%">
            
            <strong>High Rain Rate:</strong>
            
          </td>
          <td width="50%" align="left">
            
           $year.rainRate.max at $year.rainRate.maxtime
            
          </td>
        </tr>
       <tr height="20">
          <td width="50%">
            
            <strong>Low Wind Chill:</strong>
            
          </td>
          <td width="50%" align="left">
            
			$year.windchill.min at $year.windchill.mintime
          </td>
        </tr>
        <tr height="20">
          <td width="50%">
            
            <strong>High Heat Index:</strong>
            
          </td>
          <td width="50%" align="left">
            
         $year.heatindex.max at $year.heatindex.maxtime
            
          </td>
        </tr>
        

       <tr height="20">
          <td width="50%">
            
            <strong>High UV:</strong>
            
          </td>
          <td width="50%" align="left">
            
            $year.UV.max at $year.UV.maxtime
            
          </td>
        </tr>
        <tr height="20">
          <td width="50%">
            
            <strong>Low UV:</strong>
            
          </td>
          <td width="50%" align="left">
            
            $year.UV.min at $year.UV.mintime
            
          </td>
        </tr>

        <tr height="20">
          <td width="50%">
            
            <strong>High ET:</strong>
            
          </td>
          <td width="50%" align="left">
            
            $year.ET.max at $year.ET.maxtime
            
          </td>
        </tr>
        <tr height="20">
          <td width="50%">
            
            <strong>Low ET:</strong>
            
          </td>
          <td width="50%" align="left">
            
            $year.ET.min at $year.ET.mintime
            
          </td>
        </tr>


        <tr height="20">
          <td width="50%">
            
            <strong>High Radiation:</strong>
            
          </td>
          <td width="50%" align="left">
            
            $year.radiation.max at $year.radiation.maxtime
            
          </td>
        </tr>
        <tr height="20">
          <td width="50%">
            
            <strong>Low Radiation:</strong>
            
          </td>
          <td width="50%" align="left">
            
            $year.radiation.min at $year.radiation.mintime
            
          </td>
        </tr>



      </tbody>
      </table>

	  <p> &nbsp; </p>
		
  

	</div>
	<div id="sidebar">
		<p>Observations for the Last 365 Days</p>
		
		<p align="center">
        <img src="yeartempdew.png" alt="temperatures" />          
        &nbsp;&nbsp;&nbsp;
        <img src="yeartempchill.png" alt="heatchill" />
    </p>
    <p align="center">
       <img src="yearhilow.png" alt="Yearly high/low" />          
        &nbsp;&nbsp;&nbsp;
        <img src="yearrain.png" alt="rain" />
    </p>
    <p align="center">
       <img src="yearwind.png" alt="wind" />         
        &nbsp;&nbsp;&nbsp;
         <img src="yearbarometer.png" alt="barometer"/>
    </p>
    <p align="center">
        <img src="yearwinddir.png" alt="Hi Wind" />          
        &nbsp;&nbsp;&nbsp;
         <img src="yearwindvec.png" alt="Wind Vector" />
    </p>
        <p align="center">
         <img src="yearradiation.png" alt="Radiation" />
        &nbsp;&nbsp;&nbsp;        
         <img src="yearuv.png" alt="UV Index" />
    </p>

    </font>
</td>

	

		 
	</div>

	<div id="footer">
		<p>Weather Data Provided by weewx <a href="http://www.weewx.com/"> www.weewx.com</a></p>
		<p>Weewx Version: $station.version</p>
	</div>

</div>


</body>
</html>
